<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/ico" href="static/img/coding.png"/>
    <title>About</title>
</head>
<header>
    {% include 'Header.html' %}
</header>
<body>

    <div>
        <h2 id="title" class="text-center">DevChoice</h2>
        <h5 id="about-text" class="text-center"><strong>DevChoice</strong> is a Web App that will collect for you the best resources<br><br>
        for learning programming languages, with a sort by levels from beginner to advanced<br><br>
        our goal is to make learning easier and fun for you all you need to do is to create your account and start learning.<br><br>
        <strong>Our slogan is:</strong> We're collecting Resources for you, and you just chill and learn.
        </h5>
    </div>

</body>
<footer>
    {% include 'Footer.html' %}
</footer>
</html>