<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevChoice</title>
	<link rel="icon" type="image/ico" href="static/img/coding.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Navigation -->
 
<nav class="navbar navbar-expand-md navbar-light bg-light stickt-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ url_for('home')}}"><img src="static/img/coding.png" class="img" alt=""><span>DevChoice</span></a>
		{% if session.is_logged %}
		<p class="nav-link"></p> Welcome {{ session.username }}
		{% endif %}
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"></button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
				<a class="nav-link" href="{{ url_for('home')}}">HOME</a>
			</li>
				<li class="nav-item">
				<a class="nav-link" href="{{ url_for('about')}}">About</a>
				<li class="nav-item">
				<a class="nav-link" href="{{ url_for('connect')}}">Connect</a>
				{% if session.is_logged %}
			</li>
				<li class="nav-item" >
				<a class="nav-link" href="/dashboard/{{session.username}}">Dashboard</a>
				<li class="nav-item">
				<a class="nav-link" href="{{ url_for('logout')}}">Logout</a>
				{% else %}
				<li class="nav-item">
				<a class="nav-link" href="{{ url_for('signin')}}">Sign in</a>
				{% endif %}
			</li>
			</ul>
		</div>
	</div>

</nav>

</body>
</html>