<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="icon" type="image/ico" href="static/img/coding.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!------ Include the above in your HEAD tag ---------->
</head>
<header>
    {% include 'Header.html' %}
</header>
<body>
<br><br>
<form method="POST" action="">
<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>Enter Your Information to SignUp.</p>
        </div>
        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="User Name *" name="username" value="{{request.form.username}}" required/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password *" name="password" value="{{request.form.password}}" required/>
                    </div>
                </div>
            </div>
            <button type="submit" class="btnSubmit">Sign In</button>&nbsp
            {% if error %}
            <div style="color: crimson;">{{error}}</div>
            {% endif %}
            <a href="{{ url_for('signup')}}" class="sign-up-link">Don't have an account?</a>
        </div>
    </div>
</div>
</form>
<br><br>
<br><br>
<br><br>
</body>
<footer>
    {% include 'Footer.html' %}
</footer>
</html>